* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}
.dictionary-container {
  width: 500px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 30px;
}
.dictionary-container .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
}
.dark {
  background-color: #333;
  color: #fff;
}
.light {
  background-color: #fff;
  color: #333;
}
.toggle .btntoggle {
  width: 40px;
  height: 40px;
  border-radius: 90%;
  border: none;
}
.logo {
  font-size: larger;
  color: rgb(202, 108, 202);
}
.logo img {
  height: 50px;
}
.search-input input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  font-size: 20px;
}
.search-input input:hover {
  border-color: rgb(197, 120, 197);
}
.playbtn {
  width: 40px;
  height: 40px;
  margin-left: 350px;
  border: none;
  border-radius: 50%;
  background-color: #fff;
}
.playbtn img {
  height: 40px;
}
@media screen and (max-width: 950px) {
  .dictionary-container {
    padding: 80px 80px 80px 80px;
  }
  .search-input input {
    height: 50%;
  }
  .playbtn {
    margin-left: 250px;
  }
  .playbtn img {
    height: 30px;
  }
}
@media screen and (max-width: 950px) {
  .dictionary-container {
    padding: 150px 150px 150px 150px;
  }
  .search-input input {
    height: 40%;
  }
  .playbtn {
    margin-left: 200px;
  }
  .playbtn img {
    height: 30px;
  }
}
